.todosProd__topo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .todosProd__topo {
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
}