.todosProd__titulo {
    font-size: 2.25rem;
}

@media screen and (max-width: 768px) {
    .todosProd__titulo {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .todosProd__titulo {
        font-size: 1.375rem;
    }
}