.produtos__link {
    color: var(--cor-principal);
    font-size: 1.25rem;
    transition: .2s all ease-in-out;
}

.produtos__link--icone {
    background: url("../../img/seta.svg") no-repeat center / contain;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.produtos__link:hover {
    color: #a11515;
}

@media screen and (max-width: 480px) {
    .produtos__link {
        font-size: 1rem;
    }
}