.produtos__topo--icone {
    display: inline-block;
    background: url("../../img/loader.svg") no-repeat center / contain;
    height: 24px;
    width: 24px;
}

.produtos__topo {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .produtos__topo--icone {
        height: 20px;
        width: 20px;
    }
  }