.produtos {
    margin-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

@media screen and (max-width: 768px) {
    .produtos {
        margin-top: 2.5rem;
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media screen and (max-width: 480px) {
    .produtos {
        margin-top: 2rem;
        margin-left: 5%;
        margin-right: 5%;
    }
}