.cabecalho__pesquisa {
    border: 1px solid var(--cor-principal);
    border-radius: 20px;
    box-sizing: border-box;
    height: 2.875rem;
    width: 50%;
    padding-left: 1rem;
    position: relative;
}

.cabecalho__pesquisa:active {
    border: 2px solid var(--cor-principal);
}

@media screen and (max-width: 480px) {
    .cabecalho__pesquisa {
        position: absolute;
        top: 112px;
        width: 90%;
  }
}

@media screen and (max-width: 312px) {
    .cabecalho__pesquisa {
        top: 84px;
  }
}