.cabecalho__anuncio {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    text-align: center;
    height: 1.5rem;
    vertical-align: middle;
}

@media screen and (max-width: 480px) {
    .cabecalho__anuncio {
        font-size: 0.875rem;
    }
}