.cabecalho__menu {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .cabecalho__menu {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 480px) {
    .cabecalho__menu {
        margin-top: 0;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 312px) {
    .cabecalho__menu {
       justify-content: center;
    }
}