.cabecalho__navegacao {
    align-items: center;
    background-color: var(--cor-principal-clara);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.5rem;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    z-index: 1;
}

.cabecalho__navegacao li {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .cabecalho__navegacao {
        display: none;
    }
}