.cabecalho__login {
    align-items: center;
    color: var(--cor-preto);
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    display: flex;
    gap: 0.5rem;
    font-family: var(--fonte-secundaria);
    text-align: center; 
    padding: 5% 10% 5% 10%;
}

.cabecalho__login--icone {
    display: inline-block;
    background: url("../../img/usuario.svg") no-repeat left / contain;
    height: 24px;
    width: 24px;
}