.banner__textos {
    box-sizing: border-box;
    color: var(--cor-branco);
    height: 30%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .banner__textos {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 480px) {
    .banner__textos {
        flex-direction: column;
        height: auto;
    }
}