.banner {
    align-items: center;
    background-color: #F02326;
    background-image: url("../../img/ilustracao.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79.8vh;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 768px) {
    .banner {
        align-items: flex-start;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 514px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        align-items: flex-start;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: end;
        height: 260px;
    }
}