.similarProd__linha {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.similarProd__linha::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .similarProd__linha {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
        overflow-x: visible;
    }
}

@media screen and (max-width: 480px) {
    .similarProd__linha {
        justify-content: space-between;
        gap: 0.5rem;
    }
}