.similarProd__link {
    color: var(--cor-principal);
    font-family: var(--fonte-secundaria);
    font-size: 0.875rem;
    transition: .2s all ease-in-out;
}

.similarProd__link:hover {
    color: #a11515;
}