.similarProd__linha {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.similarProd__linha::-webkit-scrollbar {
    display: none;
  }