.addProduto__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    gap: 1rem;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 40%;
    margin: 0 auto;
}

.addProduto__form input {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    outline: none;
    padding: 2rem 1rem 1rem 1rem;
    width: 100%;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.075);
}

.addProduto__form input:focus {
    border-bottom: 2px solid var(--cor-principal);
}

.addProduto__form textarea {
    border: none;
    border-radius: 4px;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    outline: 0;
    resize: none;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.addProduto__form textarea:focus {
    border-bottom: 2px solid var(--cor-principal);
}

.addProduto__form button {
    border: none;
    border-radius: 10px;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    cursor: pointer;
    font-family: var(--fonte-secundaria);
    width: 40%;
    padding: 1rem;
}

@media screen and (max-width: 992px) {
    .addProduto__form {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .addProduto__form {
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .addProduto__form {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 90%;
    }
}