.produto__preco{
    align-items: center;
    color: var(--cor-principal);
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 5px;
}

.produto__preco--antigo {
    font-size: 1rem;
    text-decoration: line-through;
}

@media screen and (max-width: 480px) {
    .produto__preco{
        font-size: 1rem;
        gap: 4px;
    }
    
    .produto__preco--antigo {
        font-size: 0.875rem;
    }
}