.login__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    gap: 1rem;
    justify-content: center;
    width: 35%;
    padding-top: 5.3125rem;
    padding-bottom: 5.3125rem;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .login__form {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        width: 60%;
    }
}

@media screen and (max-width: 480px) {
    .login__form {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        width: 80%;
    }
}