.navMobile__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    padding-left: 2rem;
    text-transform: uppercase;
}

.navMobile__nav > li {
    border-bottom: 1px solid black;
}

.navMobile__nav > li > ul {
    margin-bottom: 0.5rem;
}